<h1>Agregar Producto</h1>
<hr />
<form>
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <Label>Nombre: </Label>
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" />
    </div>
    <div class="col-auto">
      <!-- el objetivo es hacer una directiva que modifique lo que está en el span sin tener que agregar una condición -->
      <span>Algo de información</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary">Cambiar color</button>
    </div>
  </div>
</form>
